<!-- Core -->
<script src="{{ ASSETS_ROOT }}/vendor/core/dist/umd/popper.min.js"></script>
<script src="{{ ASSETS_ROOT }}/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ ASSETS_ROOT }}/vendor/jquery-3.7.1.min.js"></script>
<script src="{{ ASSETS_ROOT }}/vendor/jquery.ba-throttle-debounce.min.js"></script>

<!-- Sweet Alerts 2 -->
<script src="{{ ASSETS_ROOT }}/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

<!-- Volt JS -->
<script src="{{ ASSETS_ROOT }}/js/volt.js"></script>
<script src="{{ ASSETS_ROOT }}/js/sidebar.js"></script>
<script src="{{ ASSETS_ROOT }}/js/main.js"></script>
