<nav class="sideBar d-flex flex-column p-3">
    <!-- Logo and Title -->
    <div class="d-flex align-items-center gap-3 p-3 mt-2">
        <img src="../../static/assets/images/logo.png" alt="Logo" width="40" height="40">
        <span class="title_text text-black">Team 10</span>
    </div>

    <!-- Navigation Links -->
    <ul class="nav flex-column mt-4 mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link d-flex align-items-center normal_text active">
                <img src="../../static/assets/images/dashboardIcon.svg"
                alt="Dashboard Icon" width="20" height="20" class="me-2">
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link d-flex align-items-center normal_text">
                <img src="../../static/assets/images/overviewIcon.svg"
                alt="Overview Icon" width="20" height="20" class="me-2">
                Overview
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link d-flex align-items-center normal_text">
                <img src="../../static/assets/images/personResume.svg"
                alt="Resume Icon" width="20" height="20" class="me-2">
                Resume
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link d-flex align-items-center normal_text">
                <img src="../../static/assets/images/detailProfile.svg"
                alt="Detailed Profile Icon" width="20" height="20" class="me-2">
                Detailed Profile
            </a>
        </li>
    </ul>

    <!-- User Account Section -->
    <div class="nav-link d-flex align-items-center mb-3">
        <img src="../../static/assets/images/personAccount.svg"
            alt="Person Account" width="32" height="32" class="me-2 rounded-circle">
        <span class="normal_text fw-medium">Quang Nguyen</span>
    </div>
</nav>
