<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/vendor/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../static/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="../../static/css/vlot.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="d-flex">
        <nav class="sideBar d-flex flex-column p-3">
            <div class="d-flex align-items-center gap-3 p-1">
                <img src="../../static/images/logo.png" alt="Logo" width="40" height="40">
                <span class="fs-4 text-black text-light">Team 10</span>
            </div>
            <a href="#" class="mt-5 mb-3 text-decoration-none">
                <div class="border border-secondary d-flex align-items-center justify-content-center gap-3 p-1" id="user-profile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="auto" fill="currentColor"
                    class="bi bi-person-fill text-black text-light" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    <span class="fs-5 text-black text-light">Nguyen Van A</span>
                </div>
            </a>

            <ul class="nav flex-column mb-auto mt-3">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </nav>
    </div>

    <script src="../../static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>command:~remote.forwardedPorts.focus
