<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Resume Screen -{% block title %} {% endblock %}
        </title>

        <link rel="stylesheet" href="{{ ASSETS_ROOT }}/vendor/bootstrap/dist/css/bootstrap.min.css">
        <script src="{{ ASSETS_ROOT }}/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
        <link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/vlot.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
        {% include 'includes/sidebar.html' %}
        <main class="container">
            <header class="mb-4 mx-5 px-md-4">
                {% include 'includes/header.html' %}
            </header>

            <div class="flex-grow-1 mx-5 px-md-4">
                {% block content %}

                {% endblock %}
            </div>
        </main>
        {% include 'includes/scripts.html' %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
